body {
	margin:0px;
	padding: 0px;
    font-family: "Cerebri Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    min-height:500px;
    
}
.navbar-dark
{
    background-color: #351c75
}
#Navbar a
{
	font-weight: 500;
	color:floralwhite;
}
#searchbar input[type=text] {
  
  font-size: 15px;
  border-style:none; 
  border-radius: 25px;
  background: #e4d8e7; 
  padding: 5px;
  width: 300px;
  height: 27px;
}
@media screen and (max-width: 600px) {
   #searchbar input[type=text] {
    float: none;
    text-align: left;
    width: 80%;   
    padding: 12px;
  }
  #searchbar input[type=text] {
    border-bottom: 1px solid #ccc;
  }
}
#searchbar button
{
	border-style:none;
	background-color:white;
}
#searchbar button:hover
{
	opacity:0.6;
}
#solution p
{
	margin-top:10px;
	color:floralwhite;
}
footer
{
	background-color: #9882b6;
	
}
li.footer-link a, .links
{
	color:floralwhite;
}
#mid-body
{
	min-height:200px;
}
#rating_btn a
{
	background-color: #9882b6;
	
}
#rating_btn a:hover
{
	background-color:#351c75;	
}
#rating_btn a
{
	color:floralwhite;
	font-weight:bold;
}
#icoreview
{
	height:200px;
	padding-top:25px;
}
.jumbotron
{
	background:#342371;
	height:500px;
}
#review_heading
{
	color:floralwhite;
}
#card-div
{
	width:200px;
	height:170px;
	border-style:none;
}
.card-title
{
	color:#02223c !important;
	font-size:12px;
	font-weight: 400;
	border-bottom: 1px solid #eae6e6;
}
.card-img-top
{
	width:80%;
}
.card-text
{
	color:#02223c !important;
	font-size:12px;
	font-weight: 400;
}

