body {
	margin:0px;
	padding: 0px;
    font-family: "Cerebri Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    min-height:500px;
    
}
.navbar-dark
{
    background-color: #201e3d;
}
#Navbar a
{
	font-weight: 500;
	color:floralwhite;
}
#searchbar input[type=text] {
  
  font-size: 15px;
  border-style:none; 
  border-radius: 25px;
  padding: 5px;
  width: 300px;
  height: 27px;
  background-color: #12102c;
  color:floralwhite;
}
@media screen and (max-width: 600px) {
   #searchbar input[type=text] {
    float: none;
    text-align: left;
    width: 80%;   
    padding: 12px;
  }
  #searchbar input[type=text] {
    border-bottom: 1px solid #ccc;
  }
}
#searchbar button
{
	border-style:none;
	background-color:white;
}
#searchbar button:hover
{
	opacity:0.6;
}
#solution p
{
	margin-top:10px;
	color: #8993b2;
}
#solution a
{
	color:floralwhite;
}
#solution
{
	border-top: 1px solid #839192;
}
#para
{
	color:#979a9a !important;
}
footer
{
	background-color: #203168;
	
}
li.footer-link a, #contact_details a, #contact_details i, #cp p, #contact_details p
{
	color:#f0eff9;
}
.links
{
	color:#a1a5b5;
}
#mid-body
{
	min-height:200px;
}
#rating_btn a
{
	background-color: #309c99;
	
}
#rating_btn a:hover
{
	background-color:#206f6d;	
}
#rating_btn a
{
	color:floralwhite;
	font-weight:bold;
}
#icoreview
{
	height:200px;
	padding-top:25px;
}
.jumbotron
{
	background:#211e48;
	height:500px;
}
#review_heading
{
	color:#f0eff9;
}
#card-div
{
	width:150px;
	height:160px;
	border-style:none;
	background-color:floralwhite;
}
.card-title
{
	color:#02223c !important;
	font-size:12px;
	font-weight: 400;
	border-bottom: 1px solid #eae6e6;
}
.card-img-top
{
	width:80%;
}
.card-text
{
	color:#02223c !important;
	font-size:12px;
	font-weight: 400;
}
#subheading
{
	color:#a1a5b5;
}
